.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -77px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 712px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 77px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 95px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 46px auto 0 0;
  padding: 19px 52px 20px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 712px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 595px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-family: "Balsamiq Sans";
  font-size: 4.5rem;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -24px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-1 .u-image-1 {
    height: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 583px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 762px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 70px 286px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 25px 303px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 44px;
  margin-bottom: -194px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 310px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-1 {
  width: 310px;
  min-height: 310px;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 20px 0;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 62px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-2 {
  width: 310px;
  min-height: 310px;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 20px 0;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 62px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-3 {
  width: 310px;
  min-height: 310px;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 20px 0;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 62px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-text-1 {
    width: 764px;
    margin-right: 86px;
  }

  .u-section-2 .u-text-2 {
    width: 837px;
    margin-right: 103px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -234px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 256px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 271px;
    width: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 4px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 9px;
  }

  .u-section-2 .u-group-2 {
    min-height: 271px;
    width: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 4px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 9px;
  }

  .u-section-2 .u-group-3 {
    min-height: 271px;
    width: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -190px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 588px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 25px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 69px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 26px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -4px;
  }
} .u-section-3 {
  min-height: 659px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 659px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 124px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 58px 93px 0 1px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 94px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 53px auto 0 0;
  padding: 19px 52px 20px 51px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 51px;
    padding-left: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 49px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 563px;
}

.u-section-4 .u-list-1 {
  margin-top: 143px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 300px;
  grid-gap: 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-1 {
  width: 171px;
  height: 171px;
  background-image: url("np://user.desktop.nicepage.com/Site_335926437/images/image1.jpeg?rand=3fd8");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 41px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-2 {
  width: 171px;
  height: 171px;
  background-image: url("np://user.desktop.nicepage.com/Site_335926437/images/image2.jpeg?rand=45c7");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 41px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-3 {
  width: 171px;
  height: 171px;
  background-image: url("np://user.desktop.nicepage.com/Site_335926437/images/image.jpeg?rand=a95f");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 41px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 50px;
  padding: 19px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 686px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 990px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -62px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -62px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -62px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 25px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 806px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 60px 311px 0 0;
}

.u-section-5 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 520px;
  grid-gap: 40px 40px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 110px;
  margin-top: 112px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 230px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 41px auto 0;
  padding: 19px 66px 20px 64px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-5 .u-text-1 {
    width: 548px;
    margin-right: 111px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -5px;
  }

  .u-section-5 .u-text-3 {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }
}